@charset "utf-8";
 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


/*
	Color Pallete

	Primary Blue : #1976D2;
	Light blue : #BBDEFB;
	Primary Text : #212121;
	Gray : #757575;
	Orange : #FF5722;
	Red : #F44336;
	Yellow : #FFEB3B;
*/

.col-main, .col-footer, img {
	width:100%;
}

header {
	background: #7cc576;
}

body {
	background-image: url("https://kim00452.github.io/lib2024/assg-4/img/background.png");
}

.logo {
	float: left;
	width:120px;
	padding: 15px;
	box-sizing: border-box;
}

.page-title {
	float: left;
	width: calc(100% -120px);
	box-sizing: border-box;
	padding: 20px;
	font-size: 30px;
}

.desktop-nav {
	clear: both;
	display: none;
}

.desktop-nav ul {
	width:100%;
}

.desktop-nav li {
	box-sizing: border-box;
	width: 25%;
	padding: 10px;
	float: left;
	position: relative;
}

.main-nav a {
	display: block;
	box-sizing: border-box;
	padding: 10px;
	background: #6dcff6;
}


/******Image Gallery ****/

.image-gallery-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 100;
	display: none;
}

/*main content styles*/

.site-content {

	background: #BBDEFB;
	padding: 15px;
	width:100%;
	box-sizing: border-box;
}

.site-sidebar {
	background: #1976D2;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}

.js-color {
	width: 30%;
	margin: 1%;
	height: 150px;
	background: blue;
	float: left;
}

/*footer styles*/
footer {
	background: #F44336;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}


	header, main, footer {

		max-width: 1280px;
		margin: 0 auto;

	}

	.desktop-nav {
		display: block;
	}

	.site-content {
		float: left;
		width: 70%;
		box-sizing: border-box;
	}

	.site-sidebar {
		float: left;
		width: 30%;
		box-sizing: border-box;
	}

